*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(./images/images\ \(2\).jfif);
    background-size: cover;

}
@font-face {
    font-family:bungee ;
    src:url(./Bungee_Tint/BungeeTint-Regular.ttf);

}
@font-face {
    font-family: grey;
    src: url(./Grey_Qo/GreyQo-Regular.ttf);
}
.main-container{
    display:flex;
    align-items: center;
    
}
.nav-links {
    margin-left: 45%;
    
    
    
}
.nav-links a{
    background-color: rgb(175, 130, 96);
    padding: 10px;
    border-radius: 10px;
    text-decoration: none;
    color:#322C2B;
    font-size: medium;
    text-transform: uppercase;
}
.nav-logo{
    margin-left: 5%;
}
.main-navbar{
display: flex;
margin-top: 5%;
}
.nav-title{
    margin-left: 10%;
    
}
.nav-title h1{
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(128, 61, 59);
    font-family: bungee;
    font-size: xx-large;
}
.nav-title h2{
    font-family: grey;
    font-weight: bold;
    text-transform: capitalize;
    padding-left: 60px;
    font-size: x-large;
}
.nav-banaal{
    margin-left: 20%;
   
   
}
.nav-banaal img{
    width: 500px;
    position: relative;
    animation: move 1s both;
    margin-bottom: 15%;
}
.coffee-corner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.coffee-corner2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.coffee-corner .coffe-cards{
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.265),rgba(0,0,0,0.265)),url(./images/images\ \(1\).jfif);
    background-size: cover;
    transition: transform 0.5s ease-in-out 0.9s ;

}



.coffee-corner .coffe-cards:hover{
    transform: scale(1.1);
 
}
.coffe-cards img{
    width: 150px;
    height: 130px;
    position: relative;
    top: -40px;
    border-radius: 50%;
}
.coffee-corner2 .coffe-cards{
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.265),rgba(0,0,0,0.265)),url(./images/images\ \(1\).jfif);
background-size: cover;
transition: transform 0.5s ease-in-out 0.9s ;

}
.coffee-corner2 .coffe-cards:hover{
    transform: scale(1.1);
 
}
.coffe-cards h1{
    margin-top: -15px;
    text-transform: capitalize;
    color: white;
}
.coffe-cards p{
    font-size: 13px;
    padding: 5px;
    color: white;
}
h3{
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: bolder;
    color:#322C2B;
    padding-top: 10px;
}


@keyframes move{
    from{right: 0px;}
    to {right: 30px;}

}
.nav-side{
    margin-left: 100px;

}
.nav-side img{
    
    width: 150%;
}
.beans-corner{
    display: flex;
    justify-content: space-evenly;
    padding: 40px 40px;
    margin-top: 50px;
    align-items: center;
}
.beans-corner img{
    margin-right: 20px;
    width: 200%;
}
.beans-corner p{
    color: #322C2B;
    font-weight: 900;
    font-size: x-large;
    text-transform: capitalize;
    margin-left: 90px;
}
.ice-coffee-corner{
    display: flex;
    justify-content: space-evenly;
    margin-top: 80px;
}
.ice-coffee-corner2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}
.ice-coffee-corner .ice-cards{
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.265),rgba(0,0,0,0.265)),url(./images/images\ \(1\).jfif);
    background-size: cover;
    transition: transform 0.5s ease-in-out 0.9s ;

}



.ice-coffee-corner .ice-cards:hover{
    transform: scale(1.1);
 
}
.ice-cards img{
    width: 120px;
    height: 150px;
    position: relative;
    top: -70px;
  
   
}
.ice-coffee-corner2 .ice-cards{
    width: 190px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.265),rgba(0,0,0,0.265)),url(./images/images\ \(1\).jfif);
background-size: cover;
transition: transform 0.5s ease-in-out 0.9s ;

}
.ice-coffee-corner2 .ice-cards:hover{
    transform: scale(1.1);
 
}
.ice-cards h1{
    margin-top: -20px;
    text-transform: capitalize;
    color: white;
}
.beans-heading{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #322C2B;
    margin-top: 50px;}
    .beans-corner{
        display: flex;
        justify-content: space-evenly;
    }
    .beans-corner .beans-cards{
        width: 180px;
        height: 150px;
        border: 2px solid white;
        background-color: rgb(189, 187, 187);
        text-align: center;
        transition: transform 0.5s ease-in-out 0.9s ;
        box-shadow: 5px 5px 5px 5px #706c6c;

    }
    .beans-corner .beans-cards:hover{
        transform: scale(1.1);
       
    }
    .beans-cards img{
        width: 180px;
        height: 180px;
        position: relative;
        top: -80px;
        align-items: center;
    }
 .beans-cards h4{
    margin-top: -75px;
    text-transform: capitalize;
    color:#322C2B;
 }   
 footer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    padding-top: 50px;
    background-color:transparent;
    border: 5px solid #322C2B;
    color: #020202;
    
 }
 footer ul{
    margin-bottom: 20px;
 }
 footer h4{
    margin-bottom: 20px;
    text-transform: capitalize;
 }
 footer ul li{
    list-style-type: none;
    padding-top: 5px;
 }
 footer a img{
    width: 30px;
    padding: 5px;
    border-radius: 5px;

 }


/* for pc */
@media (max-width:1000px) {
    .nav-links {
        margin-left: 30%;}
        .nav-title{
            margin-left: 5%;
        }
        .nav-banaal{
            margin-left: 20%;
        }
        .coffee-corner .coffe-cards{
            width: 190px;
            height: 190px;
        }
        .coffee-corner2 .coffe-cards{
            width: 190px;
            height: 190px;
        }
        .coffe-cards img{
            width: 150px;
            height: 130px;
        }
        
        
    

}
/* for tab */
@media (max-width:780px){
    .nav-links {
        margin-left: 20px;
   }
   .nav-links a{
    margin-left: 10px;
   }
        .nav-title{
            margin-left: 1%;
        }
        .nav-banaal{
            margin-left: 5%;
        }
        .nav-banaal img{
            width: 400px;
        }
        @keyframes move{
            from {right:0px}
            to {right:10px}
            
        }
        .nav-side{
            width: 120px;
        }
        .coffee-corner .coffe-cards{
            width: 150px;
            height: 170px;
        }
        .coffee-corner2 .coffe-cards{
            width: 150px;
            height: 170px;
        }
        .coffe-cards img{
            width: 120px;
            height: 100px;
        }
        .coffe-cards h1{
            font-size: medium;
            margin-top: -20px;
        }
    .coffe-cards p{
        font-size: 1.7vh;
    }
    .beans-corner{
    padding: 40px 0;
}
.beans-corner img{
width: 150%;
}
.beans-corner p{
font-size: large;
font-weight: 600;}
.ice-coffee-corner .ice-cards{
    width: 150px;
    height: 170px;
}
.ice-coffee-corner2 .ice-cards{
    width: 150px;
    height: 170px;
}
.ice-cards img{
    width: 90px;
    height: 90px;
    top: -40px;
}
.ice-cards h1{
    font-size: large;
    margin-top: -20px;
}
.beans-corner .beans-cards{
    width: 170px;
    height: 170px;
}
.beans-cards img{
    position: relative;
    top: -90px;
    width: 100px;
}}

/* for mobile */
@media (max-width:420px) {
    
    .nav-links a{
       
        font-size: 1.6vh;
        padding: 3px;
      
    }
    .nav-links{
        margin-left: 20px;
        margin-top: 10px;
      
       
    }
    .nav-logo{
        padding-left: 5px;
       
    }
    .nav-logo img{
        width: 60px;
        height: 60px;
        margin-top:10px ;
    }
    
    

   
        .nav-title{
           padding: 60px 20px;}
           .nav-title h1{
            font-size: 3vh;
           }
           .nav-title h2{
            font-size: 2vh;
           }
        .nav-banaal img{
            width: 150px;
            padding: 2px;
            margin: 8px 0;
            margin-bottom: 0;
        }
        .nav-banaal{
            margin-top: 20%;
        }
        .nav-side img{
            width: 100px;
        }
    .coffee-corner{
            display: grid;
            grid-template-columns: 1;
            gap: 40px;
            margin-top: 50px;
            margin-bottom: 70px;
        }
        .coffee-corner2{
            display: grid;
            grid-template-columns: 1;
            gap: 40px;
            margin-top: 30px;
            margin-bottom: 70px;
        }
.beans-corner{
display: grid;
padding: 0;
margin: 0;
margin-bottom: 60px;}
.beans-corner img{
width: 80%;
display: block;
margin: 0 auto;}
.beans-corner p{
font-size: 2.6vh;
font-weight: 200;
margin: 0;
text-align: justify;
padding: 20px;}
.ice-coffee-corner{
    display: grid;
    grid-template-columns: 1;
    gap: 40px;
    margin-top: 80px;
    margin-bottom: 70px;
}
.ice-coffee-corner2{
    display: grid;
    grid-template-columns: 1;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 70px;
}
.beans-corner{
    display: grid;
    grid-template-columns: 1;
    margin-top: 80px;
    gap: 80px;
}
.beans-cards img{
    width: 100px;
    position: relative;
}
.beans h4{
    font-size: 20px;
    margin-top: -180px;
}


}





