*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-image: url(./images/images.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    
}